[Desktop Entry]
Name=Synaptic Package Manager
Name[ar]=مدير الحزم Synaptic
Name[bg]=Synaptic·Мениджър на Пакети
Name[bu]=Synaptic - мениджър на пакети
Name[ca]=Gestor de paquets Synaptic
Name[cs]=Synaptic - GUI pro APT, manažer instalačních balíčků
Name[da]=Synaptic pakkehåndteringsprogram
Name[de]=Synaptic Paketverwaltung
Name[es]=Gestor de Paquetes Synaptic
Name[fr]=Gestionnaire de paquets Synaptic 
Name[he]=מנהל החבילות Synaptic
Name[hu]=Synaptic csomagkezelő
Name[it_IT]=Gestore Pacchetti Synaptic
Name[ja]=Synaptic パッケージマネージャ
Name[ko]=시냅틱 패키지 관리자
Name[nl]=Synaptic pakketbeheer
Name[pl]=Synaptic Menedżer Pakietów
Name[pt_BR]=Gerenciador de Pacotes Synaptic
Name[pt_PT]=Gestor de Pacotes Synaptic
Name[ru]=Программа управления пакетами Synaptic
Name[sl]=Upravitelj paketov Synaptic
Name[sr]=Управник пакета „Synaptic“
Name[sr@Latn]=Upravnik paketa „Synaptic“
Name[tr]=Synaptic Paket Yöneticisi
Name[zh_CN]=新立得软件包管理器
GenericName=Package Manager
GenericName[ar]=مدير الحزم
GenericName[bg]=Мениджър на Пакетите
GenericName[bu]=Мениджър на пакетите
GenericName[ca]=Gestor de paquets
GenericName[cs]=Manažer balíčků
GenericName[da]=Pakkehåndteringsprogram
GenericName[de]=Paketverwaltung
GenericName[es]=Gestor de paquetes
GenericName[fr]=Gestionnaire de paquets
GenericName[he]=מנהל חבילות
GenericName[hu]=Csomagkezelő
GenericName[it_IT]=Gestore pacchetti
GenericName[ja]=パッケージマネージャ
GenericName[ko]=패키지 관리자
GenericName[nl]=Pakketbeheer
GenericName[pl]=Menedżer pakietów
GenericName[pt_BR]=Geranciador de Pacotes
GenericName[pt_PT]=Gestor de Pacotes
GenericName[ru]=Менеджер пакетов
GenericName[sl]=Upravitelj paketov
GenericName[sr]=Управник пакета
GenericName[sr@Latn]=Upravnik paketa
GenericName[tr]=Paket Yöneticisi
GenericName[zh_CN]=软件包管理器
Comment=Install, remove and upgrade software packages
Comment[ar]=ثبّت، أزل وحدّث حزم البرامج
Comment[bg]=Инсталира, премахва или осъвременява софтуерните пакети
Comment[bu]=Инсталиране, премахване или осъвременяване на софтуерните пакети
Comment[ca]=Instal·la, elimina i actualitza paquets de programari
Comment[cs]=Instalovat, odebrat a zaktualizovat balíčky
Comment[da]=Installér, fjern og opgradér software pakker
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Comment[es]=Instalar, eliminar y actualizar los paquetes de software
Comment[fr]=Installer, désinstaller et mettre à jour les paquets de logiciels
Comment[he]=התקנה, הסרה ושדרוג חבילות תכנה.
Comment[hu]=Csomagokat telepít, töröl és frissít
Comment[it_IT]=Installa, rimuove e aggiorna i pacchetti software
Comment[ja]=ソフトウエアパッケージのインストール、削除またはアップグレード
Comment[ko]=소프트웨어 패키지를 설치, 지우기, 업그레이드
Comment[nl]=Softwarepakketten installeren, verwijderen of bijwerken
Comment[pl]=Instalacja, usuwanie i aktualizacja pakietów z oprogramowaniem
Comment[pt_BR]=Instalar, remover e atualizar pacotes
Comment[pt_PT]=Instalar, remover e actualizar pacotes
Comment[ru]=Установить, удалить и обновить пакеты
Comment[sl]=Namesti, odstrani in nadgradi programske pakete
Comment[sr]=Инсталирај, уклони и надогради софтверске пакете
Comment[sr@Latn]=Instaliraj, ukloni i nadogradi softverske pakete
Comment[tr]=Paketleri kur, kaldır ya da yükselt
Comment[zh_CN]=安装，删除和升级软件包
Exec=gksu -u root /usr/sbin/synaptic
Icon=synaptic.png
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=PackageManager;GTK;System;Application
