[Desktop Entry]
Name=Synaptic Package Manager
Name[ar]=مدير الحزم Synaptic
Name[de]=Synaptic Paketverwaltung
Name[es]=Gestor de Paquetes Synaptic
Name[fr]=Gestionnaire de paquets Synaptic 
Name[hu]=Synaptic csomagkezelő
Name[ja]=Synaptic パッケージマネージャ
Name[pl]=Synaptic Menedżer Pakietów
Name[ru]=Программа управления пакетами Synaptic
Name[sr]=Synaptic управник пакета
Name[zh_CN]=新立得包管理器
GenericName=Package Manager
GenericName[ar]=مدير الحزم
GenericName[de]=Paketverwaltung
GenericName[es]=Gestor de paquetes
GenericName[fr]=Gestionnaire de paquets
GenericName[hu]=Csomagkezelő
GenericName[ja]=パッケージマネージャ
GenericName[pl]=Menedżer pakietów
GenericName[ru]=Менеджер пакетов
GenericName[sr]=Управник пакета
GenericName[zh_CN]=包管理器
Comment=Install, remove and upgrade software packages
Comment[ar]=ثبّت، أزل وحدّث حزم البرامج
Comment[cs]=Instalovat, odebrat a aktualizovat balíčky
Comment[de]=Software-Pakete installieren, entfernen und aktualisieren
Comment[es]=Instalalar, eliminar y actualizar los paquetes de software
Comment[fr]=Installer, désinstaller et mettre à jour les paquets logiciels
Comment[hu]=Csomagokat telepít, töröl és frissít
Comment[ja]=ソフトウエアパッケージのインストール、削除またはアップグレード
Comment[pl]=Instalacja, usuwanie i aktualizacja pakietów z oprogramowaniem
Comment[ru]=Установить, удалить и обновить пакеты
Comment[sr]=Инсталирај, уклони и надогради софтверске пакете
Comment[zh_CN]=安装，删除和升级软件包
Exec=gksu -u root /usr/sbin/synaptic
Icon=/usr/share/synaptic/pixmaps/synaptic_48x48.png
Terminal=false
MultipleArgs=false
Type=Application
Encoding=UTF-8
Categories=PackageManager;GTK;System;Application
